<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.ui.widget' %>
  <%= javascript_include_tag 'jquery.iframe-transport' %>
  <%= javascript_include_tag 'jquery.fileupload' %>
  <%= javascript_include_tag 'investees-image-uploader' %>
<% end %>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'jquery.fileupload' %>
<% end %>


<% error = @investee.errors.include?(:logo) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <div class='control-label col-sm-2'></div>
  <div class='controls col-sm-5'>
    <img id="investee-img" src="<%= @investee.logo %>" width="200px">
    <%= f.hidden_field :logo %>
    <span class='btn btn-primary fileinput-button'>
      <i class='glyphicon glyphicon-upload'></i>
      <span>上传公司Logo</span>
      <input type='file' id='upload' class='form-control' 
        data-url = '/admin/images/upload'
        data-method = 'POST' />
      <span id='progress'></span>
    </span>
  </div>
</fieldset>


<% error = @investee.errors.include?(:lang) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :lang, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.select :lang, :options => [['中文', 'zh'], ['English', 'en']], :class => 'form-control'%>
    <span class='help-inline'><%= error ? f.error_message_on(:lang) : "" %></span>
  </div>
</fieldset>

<% error = @investee.errors.include?(:name) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "" %></span>
  </div>
</fieldset>
<% error = @investee.errors.include?(:brief) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :brief, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :brief, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:brief) : "" %></span>
  </div>
</fieldset>
<% error = @investee.errors.include?(:area) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :area, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :area, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:area) : "" %></span>
  </div>
</fieldset>
<% error = @investee.errors.include?(:website) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :website, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :website, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:website) : "" %></span>
  </div>
</fieldset>
<% error = @investee.errors.include?(:description) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :description, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_area :description, :rows => 10, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:description) : "" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:investees, :index), :class => 'btn btn-default' %>
</div>