<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:investees, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:investees, :new) %></li>
</ul>
<div class=tabs-content>
  <div class="btn-group" role="group">
    <%= link_to "全部", url(:investees, :index), :class => (@lang ? 'btn btn-default' : 'btn btn-primary') %> 
    <%= link_to "中文", url(:investees, :index, :lang => 'zh'), :class => (@lang == 'zh' ? 'btn btn-primary' : 'btn btn-default') %>
    <%= link_to "English", url(:investees, :index, :lang => 'en'), :class => (@lang == 'en' ? 'btn btn-primary' : 'btn btn-default') %>
  </div>

  <table id=list class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th class=header> <%= mat(:investee, :id) %></th>
        <th class=header> <%= mat(:investee, :name) %></th>
        <th class=header> <%= mat(:investee, :brief) %></th>
        <th class=header> <%= mat(:investee, :invest_area) %></th>
        <th class=header> <%= mat(:investee, :created_at) %></th>
        <th class=header> <%= mat(:investee, :updated_at) %></th>
        <th class="header list-row-action-header"></th>
      </tr>
    </thead>

    <tbody>
      <% @investees.each do |investee| %>
        <tr class=list-row>
          <td class=list-column> <%= investee.id %> </td>
          <td class=list-column> 
            <a href="<%= url(:investees, :edit, :id => investee.id) %>">
              <%= tag_icon(:edit) %> <%= investee.name %>
            </a>
          </td>
          <td class=list-column> <%= investee.brief %> </td>
          <td class=list-column> <%= "#{investee.invest_area.name} | #{investee.invest_area.name_en}" if investee.invest_area %> </td>
          <td class=list-column> <%= time_ago_in_words investee.created_at %></td>
          <td class=list-column> <%= time_ago_in_words investee.updated_at %></td>
          <td class="list-column list-row-action">
            <div class='list-row-action-wrapper'>
               <%= link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} investee", :class => 'list-row-action-delete-one' %>
               <div class="popover list-row-action-popover-delete-one left">
                 <div class=arrow> </div>
                 <h3 class=popover-title><%= pat(:delete, :model => "investee") %></h3>
                 <div class=popover-content>
                   <%- form_tag url(:investees, :destroy, :id => investee.id), :method => :delete do %>
                     <%= submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                     <div class="btn btn-default btn-small cancel"><%= pat(:cancel) %></div>
                   <% end %>
                   </div>
               </div>
             </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>