<% error = @menu.errors.include?(:title) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :title, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :title, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:title) : "" %></span>
  </div>
</fieldset>


<% error = @menu.errors.include?(:title_en) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :title_en, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :title_en, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:title_en) : "" %></span>
  </div>
</fieldset>


<% error = @menu.errors.include?(:link) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :link, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :link, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:link) : "" %></span>
  </div>
</fieldset>
<% error = @menu.errors.include?(:param) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :param, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :param, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:param) : "" %></span>
  </div>
</fieldset>
<% error = @menu.errors.include?(:parent) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :parent, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :parent, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:parent) : "" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:menus, :index), :class => 'btn btn-default' %>
</div>