<% content_for :javascripts do %>

  <%= javascript_include_tag 'jquery.ui.widget' %>
  <%= javascript_include_tag 'jquery.iframe-transport' %>
  <%= javascript_include_tag 'jquery.fileupload' %>

  <%= javascript_include_tag 'froala_editor.min' %>
  <%= javascript_include_tag 'plugins/font_family.min' %>
  <%= javascript_include_tag 'plugins/font_size.min' %>
  <%= javascript_include_tag 'plugins/lists.min' %>
  <%= javascript_include_tag 'plugins/tables.min' %>
  <%= javascript_include_tag 'plugins/urls.min' %>
  <%= javascript_include_tag 'plugins/colors.min' %>
  <%= javascript_include_tag 'langs/zh_cn' %>

  <%= javascript_include_tag 'multi-lang' %>
  <%= javascript_include_tag 'members-editor' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'font-awesome.min' %>
  <%= stylesheet_link_tag 'froala_editor.min' %>
  <%= stylesheet_link_tag 'froala_style.min' %>
  <%= stylesheet_link_tag 'jquery.fileupload' %>
  <%= stylesheet_link_tag 'editor-style' %>
<% end %>


<% error = @member.errors.include?(:avatar) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <div class='control-label col-sm-2'></div>
  <div class='controls col-sm-5'>
    <img id="member-img" src="<%= @member.avatar %>" width="200px">
    <%= f.hidden_field :avatar %>
    <span class='btn btn-primary fileinput-button'>
      <i class='glyphicon glyphicon-upload'></i>
      <span>上传头像</span>
      <input type='file' id='upload' class='form-control' 
        data-url = '/admin/images/upload'
        data-method = 'POST' />
      <span id='progress'></span>
    </span>
  </div>
</fieldset>

<% error = @member.errors.include?(:priority) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :priority, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :priority, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:priority) : "" %></span>
  </div>
</fieldset>

<% error = @member.errors.include?(:suffix) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :suffix, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.select :suffix, :options => [['先生', 'male'], ['女士', 'female']], :class => 'form-control'%>
    <span class='help-inline'><%= error ? f.error_message_on(:suffix) : "" %></span>
  </div>
</fieldset>


<div>

<ul id='multi-lang' class='nav nav-tabs' role='tablist'>
  <li role='presentation' class='active'><a href="#zh" aria-controls='zh' role='tab' data-toggle='tab'>中文</a></li>
  <li role='presentation'><a href="#en" aria-controls='en' role='tab' data-toggle='tab'>English</a></li>
</ul>



<div class='tab-content'>
  <p></p>
  <div role='tabpanel' class='tab-pane active' id='zh'>

    <% error = @member.errors.include?(:name) %>
    <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :name, :class => 'control-label col-sm-2' %>
      <div class='controls col-sm-10'>
        <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-inline'><%= error ? f.error_message_on(:name) : "" %></span>
      </div>
    </fieldset>

    <% error = @member.errors.include?(:title) %>
    <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :title, :class => 'control-label col-sm-2' %>
      <div class='controls col-sm-10'>
        <%= f.text_field :title, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-inline'><%= error ? f.error_message_on(:title) : "" %></span>
      </div>
    </fieldset>

    <% error = @member.errors.include?(:description) %>
    <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :description, :class => 'control-label col-sm-2' %>
      <div class='controls col-sm-10'>
        <%= f.text_area :description, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-inline'><%= error ? f.error_message_on(:description) : "" %></span>
      </div>
    </fieldset>

  </div>





  <div role='tabpanel' class='tab-pane' id='en'>

    <% error = @member.errors.include?(:name_en) %>
    <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :name_en, :class => 'control-label col-sm-2' %>
      <div class='controls col-sm-10'>
        <%= f.text_field :name_en, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-inline'><%= error ? f.error_message_on(:name_en) : "" %></span>
      </div>
    </fieldset>

    <% error = @member.errors.include?(:title_en) %>
    <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :title_en, :class => 'control-label col-sm-2' %>
      <div class='controls col-sm-10'>
        <%= f.text_field :title_en, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-inline'><%= error ? f.error_message_on(:title_en) : "" %></span>
      </div>
    </fieldset>

    <% error = @member.errors.include?(:description_en) %>
    <fieldset class='form-group <%= error ? 'has-error' : ''%>'>
      <%= f.label :description_en, :class => 'control-label col-sm-2' %>
      <div class='controls col-sm-10'>
        <%= f.text_area :description_en, :class => 'form-control input-xlarge input-with-feedback' %>
        <span class='help-inline'><%= error ? f.error_message_on(:description_en) : "" %></span>
      </div>
    </fieldset>

  </div>
</div>



</div>

<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:members, :index), :class => 'btn btn-default' %>
</div>