<% content_for :javascripts do %>
  <%= javascript_include_tag 'froala_editor.min' %>
  <%= javascript_include_tag 'froala_editor_ie8.min' %>
  <%= javascript_include_tag 'langs/zh_cn' %>

  <%= javascript_include_tag 'members-editor' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'font-awesome.min' %>
  <%= stylesheet_link_tag 'froala_editor.min' %>
  <%= stylesheet_link_tag 'froala_style.min' %>
<% end %>

<% error = @member.errors.include?(:name) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "" %></span>
  </div>
</fieldset>
<% error = @member.errors.include?(:suffix) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :suffix, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.select :suffix, :options => ['先生', '女士'], :class => 'form-control'%>
    <span class='help-inline'><%= error ? f.error_message_on(:suffix) : "" %></span>
  </div>
</fieldset>
<% error = @member.errors.include?(:position) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :position, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.select :position, :options => [['合伙人', 'partner'], ['核心团队', 'member']], :class => 'form-control'%>
    <span class='help-inline'><%= error ? f.error_message_on(:position) : "" %></span>
  </div>
</fieldset>
<% error = @member.errors.include?(:title) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :title, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :title, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:title) : "" %></span>
  </div>
</fieldset>
<% error = @member.errors.include?(:avatar) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :avatar, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <img src="<%= @member.avatar %>" width="200px">
  </div>
</fieldset>
<% error = @member.errors.include?(:description) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :description, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_area :description, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:description) : "" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:members, :index), :class => 'btn btn-default' %>
</div>