<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf8" />
  <meta name="viewport" content='width=device-width,initial-scale=1' />
  <title><%= @title.present? ? "#{@title} | 磐霖资本" : "磐霖资本" %></title>
  <%= favicon_tag "favicon.ico" %>
  <%= stylesheet_link_tag 'bootstrap', 'application', 'admin' %>
  <%= yield_content :stylesheets %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class=navbar-inner>
  <div class=container>
  <%= link_to '磐霖资本', url(:base, :index), :class => 'navbar-brand', :title => 'Padrino Admin' %>
  <ul class="nav navbar-nav pull-right">
    <li class=navbar-edit-account>
    <%= link_to tag_icon(:user), url(:accounts, :edit, :id => current_account.id), :title => pat(:profile), :class => 'navbar-nav-link' %>
    </li>
    <li class=navbar-logout>
    <%= button_to(:logout, url(:sessions, :destroy), :method => :delete, :class => 'navbar-nav-form') { content_tag :button, tag_icon(:off), :type => :submit, :title => pat(:logout), :class => 'navbar-nav-form-link' } %>
    </li>
  </ul>

  <ul class="nav navbar-nav pull-left">
  <% project_modules.each do |project_module| %>
    <li class="navbar-module <%= 'active' if request.path_info =~ /^#{project_module.path}/ %>">
    <%= link_to I18n.t("modules.#{project_module.name}"), url(project_module.path) %>
    </li>
  <% end %>
  </ul>
  </div>
  </div>
</div>

<div class='container main'>
  <div class='main-wrapper'>
  <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
  <div class='row'><%= yield %></div>
  <div class='main-wrapper-push'></div>
  </div>
</div>

<footer>
  <div class='footer-wrapper container'>
  <p class='pull-left'>Copyright &copy; 2015 上海磐霖资产管理有限公司版权所有</p>
  </div>
</footer>

<%= javascript_include_tag 'jquery-1.9.0.min', (Padrino.env == :production ? 'bootstrap/bootstrap.min' : %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown  bootstrap/tooltip bootstrap/transition  bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab]), :application %>
<%= yield_content :javascripts %>
</body>
</html>
