<!DOCTYPE html>
<html lang="zh">>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= @title.present? ? "#{@title} | Padrino Admin" : "#{pat(:custom_errors.title)} | Padrino Admin" %></title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel=stylesheet />
    <%= stylesheet_link_tag 'bootstrap', 'application' %>
  </head>
  <body>
    <div class="custom-error text-center">
      <div class="custom-error-body muted"><%= yield %></div>
      <div class="custom-error-footer">
        <%= link_to tag_icon('arrow-left'),"#", :onclick => "history.go(-1);return false;", :class =>"custom-error-go-back btn btn-default pull-left", :title => "Go back" %>
      </div>
    </div>
  </body>
</html>