<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.dataTables' %>
  <%= javascript_include_tag 'jquery.dataTables.rowReordering' %>
  <%= javascript_include_tag 'panlin-sort.js' %>
  <script type="text/javascript">
  $(function() {
    $.panlinSort('#list', 'invest_areas/reorder');
  });
  </script>
  
<% end %>


<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:invest_areas, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:invest_areas, :new) %></li>
</ul>
<div class=tabs-content>

  <p class="well">鼠标拖拽记录调整顺序，无需保存立即生效</p>
  <table id=list class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th class=header> <%= mat(:invest_area, :order) %></th>
        <th class=header> <%= mat(:invest_area, :name) %></th>
        <th class=header> <%= mat(:invest_area, :name_en) %></th>
        <th class="header list-row-action-header"></th>
      </tr>
    </thead>
    <tbody>
      <% @invest_areas.each do |invest_area| %>
        <tr class=list-row id="invest_area-<%= invest_area.id %>">
          <td class=list-column> <%= invest_area.order %> </td>
          <td class=list-column> 
            <a href="<%= url(:invest_areas, :edit, :id => invest_area.id) %>">
              <%= tag_icon(:edit) %> <%= invest_area.name %>
            </a>
          </td>
          <td class=list-column> <%= invest_area.name_en %> </td>
          <td class="list-column list-row-action">
            <div class='list-row-action-wrapper'>
               <%= link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} invest_area", :class => 'list-row-action-delete-one' %>
               <div class="popover list-row-action-popover-delete-one left">
                 <div class=arrow> </div>
                 <h3 class=popover-title><%= pat(:delete, :model => "invest_area") %></h3>
                 <div class=popover-content>
                   <%- form_tag url(:invest_areas, :destroy, :id => invest_area.id), :method => :delete do %>
                     <%= submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                     <div class="btn btn-default btn-small cancel"><%= pat(:cancel) %></div>
                   <% end %>
                  </div>
               </div>
             </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>