<div class="dialog-body found">
  <a href="#" class="close">&times;</a>
  <h3>{{ issue }}</h3>
  <h4>{{ fullname }}</h4>
  <div class="found-wrapper">
    <table class="content-column-left">
      <tr><td>{{ labels.name }}</td><td>{{ name }}</td></tr>
      {{#if period}}
      <tr><td>{{ labels.period }}</td><td>{{ period }}</td></tr>
      {{/if}}

      {{#if company }}
      <tr><td>{{ labels.company }}</td><td>{{ company }}</td></tr>
      {{/if}}

      {{#if statusMsg }}
      <tr><td></td><td>{{ statusMsg }}</td></tr>
      {{/if}}
    </table>

    <div class="content-column-right">
      {{#if portfolio}}
      <p>{{ labels.distribution }}</p>
      <table class="chart distribution">
        <tr class="bar">
        {{#each portfolio}}
          <td width="{{percentage}}%" style="background-color:{{color}}">{{percentage}}%</td>
        {{/each}}
        </tr>
        <tr class="caption">
        {{#each portfolio}}
          <td>{{ area }}</td>
        {{/each}}
        </tr>
      </table>
      {{/if}}
    </div>
  </div>
</div>