{{#each items}}
{{#if menu}}
<div class="ui pointing dropdown link item">
  {{text}}
  <div class="menu">
    {{#each menu}}
    <a href="{{link}}" class="item">{{text}}</a>
    {{/each}}
  </div>
</div>
{{else}}
<a href="{{link}}" class="ui link item">{{text}}</a>
{{/if}}
{{/each}}