{{#each items}}
{{#if menu}}
<div class="ui pointing dropdown link item">
  {{title}}
  <div class="menu">
    {{#each menu}}
    <a href="{{link}}" class="item">{{title}}</a>
    {{/each}}
  </div>
</div>
{{else}}
<a href="{{link}}" class="ui link item">{{title}}</a>
{{/if}}
{{/each}}