<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:declarations, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:declarations, :new) %></li>
</ul>
<div class=tabs-content>
  <table id=list class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th class=header> <%= mat(:declaration, :title) %></th>
        <th class=header> <%= mat(:declaration, :title_en) %></th>
        <th class=header> <%= mat(:declaration, :description) %></th>
        <th class=header> <%= mat(:declaration, :name) %></th>
        <th class="header list-row-action-header"></th>
      </tr>
    </thead>

    <tbody>
      <% @declarations.each do |declaration| %>
        <tr class=list-row>
          <td class=list-column>
            <a href="<%= url(:declarations, :edit, :id => declaration.id) %>">
              <%= tag_icon(:edit) %> <%= declaration.title %>
            </a>
          </td>
          <td class=list-column> <%= declaration.title_en %> </td>
          <td class=list-column> <%= declaration.description %> </td>
          <td class=list-column> <%= declaration.name %> </td>
          <td class="list-column list-row-action">
            <div class='list-row-action-wrapper'>
               <%= link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} declaration", :class => 'list-row-action-delete-one' %>
               <div class="popover list-row-action-popover-delete-one left">
                 <div class=arrow> </div>
                 <h3 class=popover-title><%= pat(:delete, :model => "declaration") %></h3>
                 <div class=popover-content>
                   <%- form_tag url(:declarations, :destroy, :id => declaration.id), :method => :delete do %>
                     <%= submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                     <div class="btn btn-default btn-small cancel"><%= pat(:cancel) %></div>
                   <% end %>
                  </div>
               </div>
             </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>