<div class=base-text>
  <ul>
    <li><%= link_to '菜单管理', url(:menus, :index) %></li>
    <li><%= link_to '新闻管理', url(:articles, :index) %></li>
    <li><%= link_to '账号管理', url(:accounts, :index) %></li>
    <li><%= link_to '团队管理', url(:members, :index) %></li>
    <li><%= link_to '基金管理', url(:founds, :index) %></li>
  </ul>
</div>
