<div class="content">
  <div class="case-preview">
    <a href="#" class="dialog-close">&times;</a>
    <img src="{{brand}}" />
    <h4>{{title}}</h4>
    {{#if website}}
      <a target="_blank" href="{{website}}">{{website}}</a>
    {{/if}}
    <p class="description">{{{description}}}</p>
  </div>
</div>