<div class="dialog-body case">
  <a href="#" class="close">&times;</a>
  <div class="case-preview">
    <img src="{{logo}}" />
    <h4>{{name}}{{#if brief}}（{{brief}}）{{/if}}</h4>
    {{#if website}}
      <a target="_blank" href="{{website}}">{{website}}</a>
    {{/if}}
    <p class="description">{{{description}}}</p>
  </div>
</div>