<div class="content-wrapper">
  <div class="content-body case">
    <a href="#" class="close">&times;</a>
    <div class="case-preview">
      <img src="{{logo}}" />
      <h4>{{name}}</h4>
      {{#if website}}
        <a target="_blank" href="{{website}}">{{website}}</a>
      {{/if}}
      <p class="description">{{{description}}}</p>
    </div>
  </div>
</div>