<% error = @setting.errors.include?(:name) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'col-sm-2 control-label' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "" %></span>
  </div>
</fieldset>
<% error = @setting.errors.include?(:value) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :value, :class => 'col-sm-2 control-label' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :value, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:value) : "" %></span>
  </div>
</fieldset>
<% error = @setting.errors.include?(:description) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :description, :class => 'col-sm-2 control-label' %>
  <div class='controls col-sm-10'>
    <%= f.text_area :description, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:description) : "" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:settings, :index), :class => 'btn btn-default' %>
</div>