<div class="content">
  <img class="ui medium left floated image" src="{{ avatar }}" />
  <div class="description">
    <h4 class="ui header">{{ name }}  {{call}}</h4>
    <p>{{ title }}</p>
    {{{ descriptions }}}
  </div>
</div>
