<div class="content-wrapper">
  <div class="content-body member">
    <a href="#" class="close">&times;</a>
    <img class="avatar" src="{{ avatar }}" />
    <div class="description">
      <h4 class="ui header">{{ name }}  {{suffix}}</h4>
      <p>{{ title }}</p>
      {{{ description }}}
    </div>
  </div>
</div>
