<% content_for :javascripts do %>
  <%= javascript_include_tag 'froala_editor.min' %>
  <%= javascript_include_tag 'plugins/lists.min' %>
  <%= javascript_include_tag 'plugins/tables.min' %>
  <%= javascript_include_tag 'plugins/urls.min' %>
  <%= javascript_include_tag 'plugins/colors.min' %>
  <%= javascript_include_tag 'langs/zh_cn' %>

  <%= javascript_include_tag 'articles-editor' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'font-awesome.min' %>
  <%= stylesheet_link_tag 'froala_editor.min' %>
  <%= stylesheet_link_tag 'froala_style.min' %>
<% end %>

<% error = @article.errors.include?(:title) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :title, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_field :title, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:title) : "" %></span>
  </div>
</fieldset>

<% error = @article.errors.include?(:category_id) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :category_id, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.select :category_id, :options => [['被投公司资讯', 163], ['公司新闻', 168]], :class => 'form-control'%>
    <span class='help-inline'><%= error ? f.error_message_on(:title) : "" %></span>
  </div>
</fieldset>



<% error = @article.errors.include?(:attop) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :attop, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.check_box :attop, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:attop) : "" %></span>
  </div>
</fieldset>


<% error = @article.errors.include?(:body) %>
<fieldset class='form-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :body, :class => 'control-label col-sm-2' %>
  <div class='controls col-sm-10'>
    <%= f.text_area :body, :rows => 10, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:body) : "" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:articles, :index), :class => 'btn btn-default' %>
</div>